<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="aggressiveLazyLoading" value="true" />
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<!-- 命名空间 -->
	<typeAliases>
		<package name="com.base.model" />
		<!--1: 在此处添加命名空间 -->
	</typeAliases>
	<!-- 映射map -->
	<mappers>
	</mappers>
</configuration>