<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<!-- 扫描controller（controller层注入） -->
	<context:component-scan base-package="com.base.controller" />
	<!--2: 在此处添加controller -->
	<!-- 开启事务注解驱动 -->
	<context:annotation-config />
	<!-- 开启事务注解驱动 -->
	<mvc:annotation-driven />

	<!-- 避免IE在ajax请求时，返回json出现下载 -->
	<bean id="jacksonMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>

	<!-- jsp视图 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<!-- 访问时添加的默认前缀 -->
		<property name="prefix" value="/" />
		<!-- 访问时添加的默认后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 上传附件 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="104857600" />
		<property name="maxInMemorySize" value="4096" />
	</bean>
	<!-- 总错误处理 -->
	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView">
			<value>/error</value>
		</property>
		<property name="defaultStatusCode">
			<value>500</value>
		</property>
		<property name="warnLogCategory">
			<value>org.springframework.web.servlet.handler.SimpleMappingExceptionResolver
			</value>
		</property>    
	</bean>
	<!-- 邮件发送 -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<!-- smtp地址，根据发送者邮箱的不同而改变 -->
		<property name="host">
			<value>smtp.sina.com</value>
		</property>

		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.timeout">25000</prop>
			</props>
		</property>
		<!-- 发送者的用户名 -->
		<property name="username">
			<value>limx_test@sina.com</value>
		</property>
		<!-- 邮箱登录密码 -->
		<property name="password">
			<value>123456a</value>
		</property>
	</bean>
	<!-- 用于持有ApplicationContext，可以使用SpringContextUtil.getBean('xxx')的静态方法得到spring bean对象 -->
	<bean id="springContextUtil" class="com.base.util.SpringContextUtil"/>
</beans>